Repository mozilla/code-review, pull requests merged in 2019-08, with the labels that each got.

#73 Use pre-commit + black + other hooks
  .flake8
  .isort.cfg
  .pre-commit-config.yaml
  .taskcluster.yml
  bot/README.md
  bot/code_review_bot/__init__.py
  bot/code_review_bot/cli.py
  bot/code_review_bot/config.py
  bot/code_review_bot/report/__init__.py
  bot/code_review_bot/report/base.py
  bot/code_review_bot/report/debug.py
  bot/code_review_bot/report/mail.py
  bot/code_review_bot/report/phabricator.py
  bot/code_review_bot/retrigger.py
  bot/code_review_bot/revisions.py
  bot/code_review_bot/stats.py
  bot/code_review_bot/tasks/base.py
  bot/code_review_bot/tasks/clang_format.py
  bot/code_review_bot/tasks/clang_tidy.py
  bot/code_review_bot/tasks/coverage.py
  bot/code_review_bot/tasks/coverity.py
  bot/code_review_bot/tasks/infer.py
  bot/code_review_bot/tasks/lint.py
  bot/code_review_bot/tools/log.py
  bot/code_review_bot/tools/taskcluster.py
  bot/code_review_bot/workflow.py
  bot/requirements-dev.txt
  bot/setup.cfg
  bot/setup.py
  bot/tests/conftest.py
  bot/tests/mock_taskcluster.py
  bot/tests/test_clang.py
  bot/tests/test_coverage.py
  bot/tests/test_coverity.py
  bot/tests/test_infer.py
  bot/tests/test_issues.py
  bot/tests/test_lint.py
  bot/tests/test_remote.py
  bot/tests/test_reporter_debug.py
  bot/tests/test_reporter_mail.py
  bot/tests/test_reporter_phabricator.py
  bot/tests/test_revisions.py
  bot/tests/test_stats.py
  bot/tests/test_tools.py
  bot/tests/test_workflow.py
Labels: bot, enhancement

#69 bot: forward build errors from Coverity to Phabricator as UnitResult list.
  bot/code_review_bot/__init__.py
  bot/code_review_bot/report/phabricator.py
  bot/code_review_bot/tasks/coverity.py
  bot/tests/test_remote.py
  bot/tests/test_reporter_phabricator.py
Labels: bot, enhancement

#82 bot: separate errors agains the linting issues
  bot/code_review_bot/report/phabricator.py
  bot/code_review_bot/tasks/coverity.py
  bot/tests/test_remote.py
  bot/tests/test_reporter_phabricator.py
Labels: bot

#89 Support all source-test without crashing, refs #27
  bot/code_review_bot/workflow.py
  bot/tests/test_workflow.py
Labels: bot

#76 frontend: Use new Taskcluster routes, refs #34
  frontend/src/App.vue
  frontend/src/store.js
Labels: frontend

#93 Support Infer 0.17.0
  bot/code_review_bot/tasks/infer.py
  bot/tests/conftest.py
  bot/tests/fixtures/infer_artifact_0.16.0.json
  bot/tests/fixtures/infer_artifact_0.17.0.json
  bot/tests/fixtures/infer_issues_0.16.0.json
  bot/tests/fixtures/infer_issues_0.17.0.json
  bot/tests/test_infer.py
Labels: bot
