Repository mozilla/code-review, pull requests merged in 2020-01, with the labels that each got.

#389 integration: do not use --no-arc anymore
  integration/run.py
  integration/tests/test_workflow.py
Labels: bug, integration

#391 setup: Publish a Github release using task-boot
  .taskcluster.yml
Labels: enhancement

#388 Display publishable stats for issues in frontend
  backend/code_review_backend/issues/api.py
  backend/code_review_backend/issues/management/commands/load_in_patch.py
  backend/code_review_backend/issues/migrations/0004_issue_in_patch.py
  backend/code_review_backend/issues/models.py
  backend/code_review_backend/issues/serializers.py
  backend/code_review_backend/issues/tests/test_api.py
  backend/code_review_backend/issues/tests/test_diff.py
  frontend/src/Diffs.vue
  frontend/src/Issues.vue
  frontend/src/Stats.vue
Labels: backend, frontend

#397 Use backend publishable status on issues,
  bot/code_review_bot/__init__.py
  bot/code_review_bot/cli.py
  bot/code_review_bot/config.py
  bot/tests/conftest.py
  bot/tests/test_issues.py
  bot/tests/test_workflow.py
Labels: bot, enhancement

#398 Fix bugs in load_in_patch script on Heroku
  backend/code_review_backend/issues/management/commands/load_in_patch.py
Labels: bug

#399 Workaround to get parsepatch to run on alpine
  backend/code_review_backend/issues/management/commands/load_in_patch.py
Labels: bug

#400 Dedicated Postgresql connection on each process
  backend/code_review_backend/app/settings.py
  backend/code_review_backend/issues/management/commands/load_in_patch.py
Labels: bug

#405 events: Update to libmozevent 1.1.2
  events/code_review_events/bugbug_utils.py
  events/code_review_events/workflow.py
  events/requirements.txt
  events/tests/test_bugbug_utils.py
Labels: events

#404 Remove useless Harbormaster publication mode
  bot/code_review_bot/report/phabricator.py
  bot/tests/test_reporter_phabricator.py
Labels: bot, enhancement

#417 Common Phabricator unit & lint results
  bot/code_review_bot/__init__.py
  bot/code_review_bot/tasks/clang_format.py
  bot/code_review_bot/tasks/clang_tidy.py
  bot/code_review_bot/tasks/coverage.py
  bot/code_review_bot/tasks/coverity.py
  bot/code_review_bot/tasks/default.py
  bot/code_review_bot/tasks/infer.py
  bot/code_review_bot/tasks/lint.py
  bot/tests/test_clang.py
  bot/tests/test_coverage.py
  bot/tests/test_coverity.py
  bot/tests/test_lint.py
Labels: bot, enhancement

#419 Display errors & warnings on the frontend
  backend/code_review_backend/issues/api.py
  backend/code_review_backend/issues/serializers.py
  backend/code_review_backend/issues/tests/test_diff.py
  frontend/src/Diffs.vue
Labels: backend, enhancement, frontend

#418 Publish errors
  backend/code_review_backend/issues/api.py
  backend/code_review_backend/issues/models.py
  backend/code_review_backend/issues/tests/test_issue.py
  bot/code_review_bot/__init__.py
  bot/code_review_bot/report/phabricator.py
  bot/tests/test_default.py
  bot/tests/test_hash.py
  bot/tests/test_lint.py
  bot/tests/test_remote.py
  bot/tests/test_reporter_phabricator.py
Labels: backend, bot, enhancement

#425 Add switch to publish errors & always publish errors as Lint results when enabled
  bot/code_review_bot/report/phabricator.py
  bot/tests/test_reporter_phabricator.py
Labels: bot

#427 Sort issue stats by detected or publishable
  frontend/src/Stats.vue
Labels: frontend

#438 Revert Python to 3.7 in docker image
  events/docker/Dockerfile
Labels: events
